{
    "openapi": "3.0.1",
    "info": {
        "title": "NetSuite REST Record API",
        "description": "NetSuite REST Record API generated 2025-07-24 at 20:52:25 UTC for account 7919113, user botm1@netsoft.com with role Administrador.",
        "termsOfService": "http://www.netsuite.com/portal/resource/terms-of-service.shtml",
        "contact": {
            "name": "Oracle NetSuite",
            "url": "http://www.netsuite.com",
            "email": "info@netsuite.com"
        },
        "version": "v1",
        "x-framework": {
            "name": "oracle-netsuite-suitetalk-rest"
        }
    },
    "servers": [
        {
            "url": "https://7919113.suitetalk.api.netsuite.com/services/rest/record/v1"
        }
    ],
    "security": [
        {
            "OAuth_1.0_authorization": []
        }
    ],
    "paths": {
        "/customer": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Get list of records.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The search query that is used to filter results.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The limit used to specify the number of results on a single page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1000
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset used for selecting a specific page of results.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of records.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=collection": {
                                "schema": {
                                    "$ref": "#/components/schemas/customerCollection"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Insert record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Inserted record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Get record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "expandSubResources",
                        "in": "query",
                        "description": "Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "simpleEnumFormat",
                        "in": "query",
                        "description": "Set to true to return enumeration values in a format that only shows the internal ID value.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple fields": {
                                "value": "field1,field2"
                            },
                            "single field": {
                                "value": "field"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved record.",
                        "headers": {
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/customer"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Customer"
                ],
                "summary": "Insert or update record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "External identifier.",
                        "required": true,
                        "schema": {
                            "pattern": "eid:(.+)",
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "replaceSelectedFields",
                        "in": "query",
                        "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Upserted record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Customer"
                ],
                "summary": "Remove record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Removed record."
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Customer"
                ],
                "summary": "Update record.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "replaceSelectedFields",
                        "in": "query",
                        "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/customer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Updated record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/customerPayment": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to customerPayment.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/cashSale": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to cashSale.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/vendor": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to vendor.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/estimate": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to estimate.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/opportunity": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to opportunity.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/invoice": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to invoice.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer/{id}/!transform/salesOrder": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Transform to salesOrder.",
                "parameters": [
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "respond-async"
                            ]
                        }
                    },
                    {
                        "name": "X-NetSuite-Idempotency-Key",
                        "in": "header",
                        "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyNameValidation",
                        "in": "header",
                        "description": "Sets the strictness of property name validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Warning"
                        }
                    },
                    {
                        "name": "X-NetSuite-PropertyValueValidation",
                        "in": "header",
                        "description": "Sets the strictness of property value validation.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Error",
                                "Warning",
                                "Ignore"
                            ],
                            "default": "Error"
                        }
                    },
                    {
                        "name": "replace",
                        "in": "query",
                        "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "multiple sublists": {
                                "value": "sublist1,subrecord.sublist2"
                            },
                            "sublist on subrecord": {
                                "value": "subrecord.sublist"
                            },
                            "single sublist": {
                                "value": "sublist"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Internal identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body.",
                    "content": {
                        "application/vnd.oracle.resource+json; type=singular": {
                            "schema": {
                                "$ref": "#/components/schemas/nsResource"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Transformed record.",
                        "headers": {
                            "X-NetSuite-PropertyValidation": {
                                "description": "The description of a property validation failure.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-NetSuite-Warning": {
                                "description": "Warning messages that occurred during processing.",
                                "required": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/vnd.oracle.resource+json; type=singular": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsResource"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/vnd.oracle.resource+json; type=error": {
                                "schema": {
                                    "$ref": "#/components/schemas/nsError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "nsResourceCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/nsResource"
                        }
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    }
                }
            },
            "nsResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "title": "Internal identifier",
                        "type": "string"
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string"
                    },
                    "externalId": {
                        "title": "External identifier",
                        "type": "string"
                    },
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    }
                }
            },
            "customer-itemPricingCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-itemPricingElement"
                        }
                    }
                }
            },
            "nsError": {
                "type": "object",
                "properties": {
                    "type": {
                        "title": "Type",
                        "type": "string",
                        "description": "A URI reference to the documentation about the problem type.",
                        "format": "URI",
                        "readOnly": true
                    },
                    "title": {
                        "title": "Title",
                        "type": "string",
                        "description": "A human-readable description of the problem type.",
                        "readOnly": true
                    },
                    "status": {
                        "title": "Status",
                        "type": "integer",
                        "description": "The HTTP status code generated by the server the request originates from.",
                        "format": "int32",
                        "readOnly": true
                    },
                    "o:errorDetails": {
                        "type": "array",
                        "description": "An array containing one or more problem types.",
                        "readOnly": true,
                        "items": {
                            "type": "object",
                            "properties": {
                                "detail": {
                                    "title": "Detail",
                                    "type": "string",
                                    "description": "A detailed, human-readable description of the problem occurrence.",
                                    "readOnly": true
                                },
                                "o:errorPath": {
                                    "title": "Error Path",
                                    "type": "string",
                                    "description": "The JSON path that indicates where the problem occurs within the request body.",
                                    "format": "JSONPath",
                                    "readOnly": true
                                },
                                "o:errorUrl": {
                                    "title": "Error URL",
                                    "type": "string",
                                    "description": "The URI of the first element in the request URL where the problem occurs.",
                                    "format": "URI",
                                    "readOnly": true
                                },
                                "o:errorHeader": {
                                    "title": "Error Header",
                                    "type": "string",
                                    "description": "The name of the HTTP header where the problem occurs.",
                                    "readOnly": true
                                },
                                "o:errorQueryParam": {
                                    "title": "Error Query Parameter",
                                    "type": "string",
                                    "description": "The name of the query parameter where the problem occurs.",
                                    "readOnly": true
                                },
                                "o:errorCode": {
                                    "title": "Error Code",
                                    "type": "string",
                                    "description": "The application-specific error code. Similar problem types are grouped together.",
                                    "readOnly": true
                                }
                            }
                        }
                    }
                }
            },
            "customer-currencyListCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-currencyListElement"
                        }
                    }
                }
            },
            "nsLink": {
                "type": "object",
                "properties": {
                    "rel": {
                        "title": "Relationship",
                        "type": "string",
                        "readOnly": true
                    },
                    "href": {
                        "title": "Hypertext Reference",
                        "type": "string",
                        "readOnly": true
                    }
                }
            },
            "customer-groupPricingCollection": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "totalResults": {
                        "title": "Total Results",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "count": {
                        "title": "Count",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "hasMore": {
                        "title": "Has More Results",
                        "type": "boolean",
                        "readOnly": true
                    },
                    "offset": {
                        "title": "Query Offset",
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/customer-groupPricingElement"
                        }
                    }
                }
            },
            "customer-groupPricingElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "refName": {
                        "title": "Reference Name",
                        "type": "string"
                    },
                    "group": {
                        "$ref": "#/components/schemas/nsResource"
                    },
                    "level": {
                        "$ref": "#/components/schemas/nsResource"
                    }
                },
                "x-ns-sublistkey": {
                    "present": false
                },
                "x-ns-filterable": []
            },
            "customer-taxRegistrationElement": {
                "type": "object",
                "properties": {
                    "links": {
                        "title": "Links",
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/nsLink"
                        }
                    },
                    "address": {
                        "title": "Endereço",
                        "type": "string",
                        "nullable": true
                    },
                    "taxRegistrationNumber": {
                        "title": "Número reg. imposto",
                        "type": "string",
                        "nullable": true
                    },
                    "nexusCountry": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "title": "Internal identifier",
                                "type": "string",
                                "enum": [
                                    "PR",
                                    "PS",
                                    "PT",
                                    "PW",
                                    "PY",
                                    "QA",
                                    "AD",
                                    "AE",
                                    "AF",
                                    "AG",
                                    "AI",
                                    "AL",
                                    "AM",
                                    "AN",
                                    "AO",
                                    "AQ",
                                    "AR",
                                    "AS",
                                    "AT",
                                    "RE",
                                    "AU",
                                    "AW",
                                    "AX",
                                    "AZ",
                                    "RO",
                                    "BA",
                                    "BB",
                                    "RS",
                                    "BD",
                                    "BE",
                                    "RU",
                                    "BF",
                                    "BG",
                                    "RW",
                                    "BH",
                                    "BI",
                                    "BJ",
                                    "BL",
                                    "BM",
                                    "BN",
                                    "BO",
                                    "SA",
                                    "BQ",
                                    "SB",
                                    "BR",
                                    "SC",
                                    "BS",
                                    "SD",
                                    "BT",
                                    "SE",
                                    "BV",
                                    "SG",
                                    "BW",
                                    "SH",
                                    "SI",
                                    "BY",
                                    "SJ",
                                    "BZ",
                                    "SK",
                                    "SL",
                                    "SM",
                                    "SN",
                                    "SO",
                                    "CA",
                                    "SR",
                                    "CC",
                                    "SS",
                                    "CD",
                                    "ST",
                                    "CF",
                                    "SV",
                                    "CG",
                                    "CH",
                                    "SX",
                                    "CI",
                                    "SY",
                                    "SZ",
                                    "CK",
                                    "CL",
                                    "CM",
                                    "CN",
                                    "CO",
                                    "CR",
                                    "TC",
                                    "CS",
                                    "TD",
                                    "CU",
                                    "TF",
                                    "CV",
                                    "TG",
                                    "CW",
                                    "TH",
                                    "CX",
                                    "CY",
                                    "TJ",
                                    "CZ",
                                    "TK",
                                    "TL",
                                    "TM",
                                    "TN",
                                    "TO",
                                    "TR",
                                    "TT",
                                    "DE",
                                    "TV",
                                    "TW",
                                    "DJ",
                                    "TZ",
                                    "DK",
                                    "DM",
                                    "DO",
                                    "UA",
                                    "UG",
                                    "DZ",
                                    "UM",
                                    "EA",
                                    "EC",
                                    "US",
                                    "EE",
                                    "EG",
                                    "EH",
                                    "UY",
                                    "UZ",
                                    "VA",
                                    "ER",
                                    "VC",
                                    "ES",
                                    "ET",
                                    "VE",
                                    "VG",
                                    "VI",
                                    "VN",
                                    "VU",
                                    "FI",
                                    "FJ",
                                    "FK",
                                    "FM",
                                    "FO",
                                    "FR",
                                    "WF",
                                    "GA",
                                    "GB",
                                    "WS",
                                    "GD",
                                    "GE",
                                    "GF",
                                    "GG",
                                    "GH",
                                    "GI",
                                    "GL",
                                    "GM",
                                    "GN",
                                    "GP",
                                    "GQ",
                                    "GR",
                                    "GS",
                                    "GT",
                                    "GU",
                                    "GW",
                                    "GY",
                                    "XK",
                                    "HK",
                                    "HM",
                                    "HN",
                                    "HR",
                                    "HT",
                                    "YE",
                                    "HU",
                                    "IC",
                                    "ID",
                                    "YT",
                                    "IE",
                                    "IL",
                                    "IM",
                                    "IN",
                                    "IO",
                                    "ZA",
                                    "IQ",
                                    "IR",
                                    "IS",
                                    "IT",
                                    "ZM",
                                    "JE",
                                    "ZW",
                                    "JM",
                                    "JO",
                                    "JP",
                                    "KE",
                                    "KG",
                                    "KH",
                                    "KI",
                                    "KM",
                                    "KN",
                                    "KP",
                                    "KR",
                                    "KW",
                                    "KY",
                                    "KZ",
                                    "LA",
                                    "LB",
                                    "LC",
                                    "LI",
                                    "LK",
                                    "LR",
                                    "LS",
                                    "LT",
                                    "LU",
                                    "LV",
                                    "LY",
                                    "MA",
                                    "MC",
                                    "MD",
                                    "ME",
                                    "MF",
                                    "MG",
                                    "MH",
                                    "MK",
                                    "ML",
                                    "MM",
                                    "MN",
                                    "MO",
                                    "MP",
                                    "MQ",
                                    "MR",
                                    "MS",
                                    "MT",
                                    "MU",
                                    "MV",
                                    "MW",
                                    "MX",
                                    "MY",
                                    "MZ",
                                    "NA",
                                    "NC",
                                    "NE",
                                    "NF",
                                    "NG",
                                    "NI",
                                    "NL",
                                    "NO",
                                    "NP",
                                    "NR",
                                    "NU",
                                    "NZ",
                                    "OM",
                                    "PA",
                                    "PE",
                                    "PF",
                                    "PG",
                                    "PH",
                                    "PK",
                                    "PL",
                                    "PM",
                                    "PN"
                                ]
                            },
                            "refName": {
                                "title": "Reference Name",
[...]
